table, th, td{
    border:1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-width: 2px;
}

body{
    background-image: url(Hikari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    border-bottom: solid 2.5px;
    background: linear-gradient(0.25turn,#d5bce6, rgb(203, 151, 233));
}

th,td{
    text-align: center;
}

.main{
    font-size: 20px;
}

.main2{
    font-size: 20px;
}

.yaki{
    width: 200px;
    right: 175px;
    bottom: 150px;
    position: absolute;
    -moz-right: 175px;
}

.una{ 
    width: 200px;
    right: 175px;
    bottom: -600px;
    position: absolute;
    -moz-right: 175px;
}