table, th, td{
    border:1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-width: 2px;
}

body{
    background-image: url(Hikari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    border-bottom: solid 2px;
}


.main{
    font-size: 20px;
}

.main2{
    font-size: 20px;
}

.yaki{
    width: 150px;
    left: 410px;
    bottom: 570px;
}

.una{
    width: 150px;
    left: 370px;
    bottom: 270px;
}